# Lecture 9 â€“ Iteration, Part 1 (for loops)

## Data 6, Summer 2021

## Motivation

Temperatures taken for the Pacific Northwest from [source](https://www.timeanddate.com/weather/@9881905/historic) for June 28 to July 11.

In [ ]:
pnw_f_temps = [111, 115, 108, 93, 93, 97, 95, 97, 99, 91, 91, 93, 97, 95]
print("There are "  + str(len(pnw_f_temps)) + " entries in this dataset.")
print("The temperature on June 28th was " + str(pnw_f_temps[0]) + " degrees Fahrenheit.")
print("The temperature on June 29th was " + str(pnw_f_temps[1]) + " degrees Fahrenheit.")

In [ ]:
def f_to_c(temp):
    return (temp - 32) * (5/9)

pnw_c_temps = []

# What happens if you tried to convert the entire list?
# f_to_c(pnw_f_temps)

In [ ]:
pnw_c_temps.append(f_to_c(pnw_f_temps[0]))
pnw_c_temps.append(f_to_c(pnw_f_temps[1]))
pnw_c_temps.append(f_to_c(pnw_f_temps[2]))
pnw_c_temps
# There has to be an easier way!

In [ ]:
pnw_c_temps = []
for day in pnw_f_temps:
    pnw_c_temps.append(f_to_c(day))
pnw_c_temps

## For loops

In [ ]:
for n in [2, 4, 6, 8]:
    print(n * 5)

In [ ]:
tips = [5, 2, 3, 8, 9, 0, 2, 1]
for i in tips:
    print('ignorning i!')

In [ ]:
def modify_verb(verbs):
    for verb in verbs:
        print(verb + 'ing')

In [ ]:
modify_verb(['eat', 'run'])

In [ ]:
modify_verb(['cry', 'drink', 'sleep'])

### Example: fares

In [ ]:
# Ignore this code, just run it
from datascience import *
table = Table.read_table('data/titanic.csv').select(['Name', 'Age', 'Sex', 'Fare', 'Survived'])
titanic_fares = list(table.column('Fare'))[:10]
table

Let's implement `count_above` using a for loop, to show how much easier it is. We'll call this function `count_above_for`.

In [ ]:
def count_above_for(fares, threshold):
    count = 0
    for fare in fares:
        if fare > threshold:
            count += 1
    return count

In [ ]:
# Evaluates to 4, since 4 nums are >3
count_above_for([1, 2, 5, 8, 7, 9], 3)

In [ ]:
# Evaluates to 0, since 0 nums are >10
count_above_for([4, 8, 2, 1], 10)

### Quick Check 1

In [2]:
def not_sure(word):
    output = ''
    for letter in word:
        if letter in 'aeiou':
            output += letter
    return output

#not_sure("sequoia")

'euoia'

### String example

In [ ]:
for char in 'university':
    print(char.upper())

## Range

In [ ]:
for j in range(10):
    print(j)

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
list(range(3, 8))

In [ ]:
# 1 + 2 + 3 + 4 + 5
# + 6 + 7 + 8 + 9 + 10
total = 0
for n in range(1, 11):
    total += n

total

In [ ]:
# 3 + 5 + 7 + 9
total = 0
for n in range(3, 11, 2):
    total += n

total

In [ ]:
for j in range(10, 0, -3):
    print(j)
print('happy new year!')

### Example: adding lists

In [ ]:
# Remember, the + symbol
# concatenates two lists
[1, 2, 3] + [4, 5, 6]

In [ ]:
def list_add(a, b):
    # Checking to make sure that
    # a and b have the same length
    if len(a) != len(b):
        return None
    output = []
    for i in range(len(a)):
        output.append(a[i] + b[i])
    return output

In [ ]:
list_add([1, 2, 3], [4, 5, 6])

### Quick Check 2

In [ ]:
school = 'The University of California'
for p in range(__, 18, __):
    print(school[p])