In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw04-extra.ipynb")

# Homework 4 ‚Äì Extra Questions

## Data 6, Summer 2021

We have compiled some additional questions for you if you would like even more practice with tables. **This assignment is not worth any points and it cannot be turned in.** It is purely for your own benefit.

In [ ]:
from datascience import *
import numpy as np

## Question 1 ‚Äì What about my school?

In this last section, we will ask questions about specific schools.

**Note:** In this section, you'll need to do something you haven't done thus far in this assignment, which is use `.item`. `.item` gets the element of the array corresponding to the index you give it, just like with list indexing.

In [ ]:
nums = np.array([100, 24, 32, 76, 89])

In [ ]:
nums.item(0)

In [ ]:
nums.item(-2)

In [ ]:
# This also works, but we prefer .item for arrays.
nums[0]

*Note*: To do question 1 on this extra assignment, you will need to have the `schools_acc` table from Homework 4. It is provided to you in this notebook, but it will not help you answer any Homework 4 questions. Run the following cell to import it so that you may use it in this notebook:

In [ ]:
schools_acc = Table.read_table("data/schools_acc.csv")
schools_acc

### Question 1a ‚Äì How many students are at UC Berkeley from Chadwick International School?

Below, assign `num_chadwick` to the number of students enrolled from `'CHADWICK INTERNATIONAL SCHOOL`'.

Remember, the result of calling `.where` is always a table, even if it only has one row. Calling `.column` on a table with just one row will give you an array with just one element. **Your answer in this question must be a number, not an array with one number.**

<!--
BEGIN QUESTION
name: q1a
points: 1
-->

In [ ]:
num_chadwick = ...
num_chadwick

In [ ]:
grader.check("q1a")

### Question 1b ‚Äì How many students are at UC Berkeley from \_\_\_\_\_?

Continuing with our work from the previous question, it's natural to ask the same question for other schools. Below, write a function `sent_from_school` which takes in the name of a school as a string and returns the number of students enrolled at UC Berkeley from that school. Example behavior is shown below.

```py
>>> sent_from_school('CHADWICK INTERNATIONAL SCHOOL')
5

>>> sent_from_school('BERKELEY HIGH SCHOOL')
18
```

Note: This is the only function you've had to write in this homework! But don't worry ‚Äì you've already done most of the work in Question 1a. All you need to do is generalize your calculation in 1a, which was only for `'CHADWICK INTERNATIONAL SCHOOL'`, to work with any school. Also, don't worry about high schools with repeated names.


<!--
BEGIN QUESTION
name: q1b
points: 2
-->

In [ ]:
def sent_from_school(name):
    ...

In [ ]:
grader.check("q1b")

### Bonus

Your function `sent_from_school` from the previous question doesn't work correctly for high schools whose names are not unique. There are many such high schools: run the cell below to see them all:

In [ ]:
schools_acc.group('Name').sort('count', descending = True).where('count', are.above(1)).show()

Let's look at one in particular ‚Äì `'SAINT FRANCIS HIGH SCHOOL'`:

In [ ]:
schools_acc.where('Name', 'SAINT FRANCIS HIGH SCHOOL')

If we call your function on `'SAINT FRANCIS HIGH SCHOOL'`, we only get the enrollment count for one of the schools (the one that appears first in the dataset, most likely):

In [ ]:
sent_from_school('SAINT FRANCIS HIGH SCHOOL')

In this dataset, we'd say that name is not a [primary key](https://en.wikipedia.org/wiki/Primary_key), because knowing the name of a school doesn't necessarily tell you which school it is, as name is not unique. This is not something we will cover formally in this class, but feel free to read the linked article if you're interested.

## Question 2 ‚Äì Stars ‚≠êÔ∏è

So far, we haven't looked at the ratings for each restaurant ‚Äì and that's because none of the three tables we have right now contain ratings.

However, there's a fourth CSV file we have access to that can provide us with Yelp ratings for most ‚Äì but not all ‚Äì restaurants in `independents`.

### Question 2a

In the cell below, load in the CSV `'data/independents_ratings.csv'` as a table and assign it to the variable name `ratings`.

<!--
BEGIN QUESTION
name: q2a
points: 1
-->

In [ ]:
ratings = ...
ratings

In [ ]:
grader.check("q2a")

*Note*: To do the rest of question 2 on this extra assignment, you will need to have the `independents` table from Homework 4. It is provided to you in this notebook, but it will not help you answer any Homework 4 questions. Run the following cell to import it so that you may use it in this notebook:

In [ ]:
independents = Table.read_table("data/independents.csv")
independents

### Question 2b

It's worth thinking about why we have to include the `'City'` column in the above table ‚Äì isn't it enough to just have the name of the restaurant and its rating?

Well, no ‚Äì not if there are multiple restaurants of the same name! Below, assign `duplicate_restaurants` to an array containing the names of restaurants in `independents` that appear more than once. You don't need to sort them in any particular order.

<!--
BEGIN QUESTION
name: q2b
points: 2
-->

In [ ]:
duplicate_restaurants = ...
duplicate_restaurants

In [ ]:
grader.check("q2b")

### Question 2c

To make clear why the above is a problem, consider the following:

In [ ]:
# Run this cell.
independents.where('Restaurant', are.contained_in(duplicate_restaurants))

Above, we have a table with the names of each restaurant whose name is not unique. There are 8 rows in this table. Look at what happens if we try and join this table with `independents_with_rating` **without the city column**:

In [ ]:
# Run this cell.
independents.where('Restaurant', are.contained_in(duplicate_restaurants)) \
            .join('Restaurant', ratings) \
            .show()

We want the table that results from this join to have at most 8 rows, corresponding to each of the 8 rows in the table we saw before. (There may be fewer than 8 since we don't have ratings for every single restaurant.) However, it has 19 rows ‚Äì and many of the rows don't make sense! For example, the second last row has `'City'` as `'Las Vegas'` but `'City_2'` as `'New York'`, meaning that the row clearly doesn't correspond to a real restaurant.

There's a solution. Instead of joining `independents` and `ratings` on just `'Restaurant'`, we can join on both `'Restaurant'` and `'City'`. This combines rows in `independents` and `ratings` where the `'Restaurant'` is the same **and** the `'City'` is the same, avoiding the issue above where we have rows with multiple cities.

Below, assign `independents_with_ratings` to the result of joining `independents` and `ratings` on both `'Restaurant'` and `'City'`. To join on multiple columns, pass a list as the first argument to `join` rather than just a string. After joining, re-order the columns so that the column order is the same as in `independents`, just with `'Ratings'` attached on the end, and sort the table so that `'Rank'` is in increasing order.

The first few rows of your result should look like this (notice there is no row with rank 3 since `ratings` doesn't have a rating for that restaurant):

|   Rank | Restaurant                          |    Sales |   Average Check | City     | State   |   Meals Served |   Rating |
|-------:|------------------------------------:|---------:|----------------:|---------:|--------:|---------------:|---------:|
|      1 | Carmine's (Times Square)            | 39080335 |              40 | New York | N.Y.    |         469803 |      4   |
|      2 | The Boathouse Orlando               | 35218364 |              43 | Orlando  | Fla.    |         820819 |      4   |
|      4 | LAVO Italian Restaurant & Nightclub | 26916180 |              90 | New York | N.Y.    |         198500 |      2.5 |
|      5 | Bryant Park Grill & Cafe            | 26900000 |              62 | New York | N.Y.    |         403000 |      3.5 |
|      6 | Gibsons Bar & Steakhouse            | 25409952 |              80 | Chicago  | Ill.    |         348567 |      4   |

_Hint: The `join` part of this problem is the only part that is new, and we tell you exactly how to do it above. Also, to select the columns in the right order, the snippet `list(independents.labels) + ['Rating']` might be helpful._

<!--
BEGIN QUESTION
name: q2c
points: 2
-->

In [ ]:
independents_with_ratings = ...
independents_with_ratings

In [ ]:
grader.check("q2c")

*Note*: To do the rest of question 2 on this extra assignment, you will need to have the `city_checks` table from Homework 4. It is provided to you in this notebook, but it will not help you answer any Homework 4 questions. Run the following cell to import it so that you may use it in this notebook:

In [ ]:
city_checks = Table.read_table("data/city_checks.csv")
city_checks

### Question 2d

Finally, assign `city_ratings` to a table where each column corresponds to a star rating and each row corresponds to a city. Each entry in `city_ratings` should be the median `'Average Check'` for a given combination of star rating and city. Only include the cities that are in the `city_checks`, which has been given to you above.

The first few rows of `city_ratings` should look like this:

| City          |   2.5 |   3.0 |   3.5 |   4.0 |   4.5 |
|--------------:|------:|------:|------:|------:|------:|
| Chicago       |     0 |     0 |  83.5 |    80 |    95 |
| Las Vegas     |     0 |     0 |  97   |   101 |    92 |
| Miami         |     0 |     0 |  88   |    98 |     0 |

As a reminder, the above says that the median `'Average Check'` price at 3.5 star restaurants in Chicago is \\$83.50.

<!--
BEGIN QUESTION
name: q2d
points: 3
-->

In [ ]:
city_ratings = ...
city_ratings

In [ ]:
grader.check("q2d")

What trends do you notice in `city_ratings`? Again, there's nowhere you need to write your answer, this is just something for you to think about.

That's it ‚Äì you should now be well-versed in manipulating tables to gain insight about real data. üçî

# Done!

Congrats! You've finished another Data 6 homework assignment!

**You do not need to submit this assignment, it is not worth any points.**

The point breakdown for what this assignment would be worth is given in the table below:

| **Category** | Points |
| --- | --- |
| Autograder | 11 |
| Written | 0 |
| **Total** | 11 |

---

To double-check your work, the cell below will rerun all of the autograder tests.

In [ ]:
grader.check_all()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False)